<% about_content = About.first %>
<div class="container mt-5 ms-5">
  <div class="content shadow p-4 rounded">
    <h1 class="fs-1 text-start text-dark mb-4">About Us</h1>
    <p class="text-justify">
      <%= about_content.content.html_safe %>
    </p>
    <p class="text-muted fst-italic">
      If you have any questions or concerns, contact us anytime! We can be reached at:
    </p>
    <ul class="list-unstyled ps-4">
      <li class="mb-2"><i class="bi bi-telephone-fill"></i> 204-555-1234</li>
      <li><i class="bi bi-envelope-fill"></i> contact@letsgetthisbread.com</li>
    </ul>
  </div>
</div>