<p style="color: green"><%= notice %></p>

<div class="container mt-5 mb-5">
  <div class="content shadow p-4 rounded">
  <h1 class="display-4 mb-3"><strong>Products</strong></h1>
    <div id="products">
      <% @products.each do |product| %>
        <%= render product %>
        <p>
          <%= link_to "Show this product", product %>
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>