<p style="color: green"><%= notice %></p>

<% if !customer_signed_in? %>
  <p>
    Please sign in to add items to your cart.
  </p>
<% end %>

<div class="container mt-5 mb-5">
  <div class="content shadow p-4 rounded">
  <h1 class="fs-1 mb-3">Products</h1>
    <div id="products">
      <% @products.each do |product| %>
        <%= render product %>
        <p class: "mt-2">
          <%= link_to "Show this product", product %>
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>